.about {
  .about-us {
    height: 75vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }
  .about-us .upper-title {
    text-align: center;
    position: relative;
    display: inline;
  }
  .about-us .upper-title::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.09em;
    background-color: #ead144;
    bottom: -0.5em;
    left: 0;
  }
  p {
    text-align: center;
    margin-top: 3vh;
    font-family: "quicksand";
    text-align: justify;
    height: 20vh;
  }
  .about-image-federico {
    background-image: url(../images/federico-about.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .about-image-rocio {
    background-image: url(../images/rocio-about.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
