.contact {
  .contact-container {
    display: flex;
    align-items: flex-start;
    height: 85vh;
    width: 100%;
    margin: 0 auto;
  }
}

.map-container {
  width: 50%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  h3 {
    display: flex;
    justify-content: start;
    text-transform: uppercase;
    font-family: "Quicksand";
  }
}

.contact-box-container {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-transform: uppercase;
  .contact-us-box {
    width: 100%;
    .contact-box {
      width: 90%;
      height: 100%;
      display: flex;
      flex-direction: column;
      .message {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
