.hero-container::after {
  content: "";
  opacity: 0.7;
  background-color: black;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
  width: 100%;
  h1,
  h3,
  p {
    text-align: center;
    color: white;
    position: relative;
    z-index: 2;
  }
  h1 {
    font-size: 8.5em;
    letter-spacing: 0.175em;
    font-family: "inter";
    width: fit-content;
    margin-bottom: 1em;
    text-transform: uppercase;
    &::after {
      position: absolute;
      content: "";
      width: 97%;
      height: 0.025em;
      bottom: -0.25em;
      left: 0;
      background-color: #ead144;
    }
  }
  .left,
  .right,
  .center {
    display: inline-block;
  }
  .left {
    animation: f 1.2s linear;
  }
  .right {
    animation: right 1.2s linear;
  }
  .center {
    animation: center 0.6s ease-in;
    animation-delay: 0.6s;
  }
}
