#projects {
  h2 {
    font-family: "quicksand";
    height: 6vh;
    padding: 1em 0 1em 0;
  }
}

.projects-grid {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  .project-grid-format {
    display: flex;
    flex-direction: column;
    width: 22vw;
    height: 70vh;
    &:hover .project-image-div {
      transform: scale(1.02);
      transition: 0.5s ease-in;
    }
    .project-image-div {
      height: 80%;
      width: 100%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .project-1-image {
      background-image: url(../../images/project-images/project-phone.jpg);
    }
    .project-2-image {
      background-image: url(../../images/project-images/project-bakery.jpg);
    }
    .project-3-image {
      background-image: url(../../images/project-images/project-photo.jpeg);
    }
    h3 {
      font-family: "quicksand";
      text-transform: uppercase;
    }
    p {
      text-align: justify;
      font-family: "quicksand";
    }
    .see-more {
      color: blue;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 0.8em;
    }
  }
}
