.footer {
  background-image: linear-gradient(to top, rgb(82, 82, 82), black);
  .footer-logo {
    position: relative;
    z-index: 2;
    margin-left: 2%;
  }
  ul {
    display: flex;
    img {
      margin: 1em 2em 0 0;
    }
    a {
      :hover {
        transform: scale(1.1);
        transition: 0.3s ease-in;
      }
    }
  }
  .mid-footer {
    color: white;
    font-family: "comfortaa";
    font-weight: 300;
    font-size: 1em;
  }
}
