.footer {
  background-image: linear-gradient(
    to top,
    rgb(233, 211, 211),
    rgba(240, 232, 232, 0.672)
  );
  .footer-logo {
    position: relative;
    z-index: 2;
    margin-left: 2%;
  }
  ul {
    display: flex;
    img {
      margin: 1em 2em 0 0;
    }
    a {
      :hover {
        transform: scale(1.1);
        transition: 0.3s ease-in;
      }
    }
  }
}
