/* HERO RESPONSIVE START */

@media all and (min-width: 1200px) {
  .hero h1 {
    font-size: 8.5em;
    letter-spacing: 0.175em;
    font-family: "inter";
    width: fit-content;
  }
}
@media all and (max-width: 992px) {
  .hero h1 {
    font-size: 7em;
    letter-spacing: 0.175em;
    font-family: "inter";
    width: fit-content;
  }
}
@media all and (max-width: 768px) {
  .hero h1 {
    font-size: 5em;
    letter-spacing: 0.175em;
    font-family: "inter";
    width: fit-content;
  }
}
@media all and (max-width: 576px) {
  .hero h1 {
    font-size: 5em;
    letter-spacing: 0.175em;
    font-family: "inter";
    width: fit-content;
  }
}
@media all and (max-width: 515px) {
  .hero h1 {
    font-size: 4em;
    letter-spacing: 0.175em;
    font-family: "inter";
    width: fit-content;
  }
}
@media all and (max-width: 400px) {
  .hero h1 {
    font-size: 3em;
    letter-spacing: 0.175em;
    font-family: "inter";
    width: fit-content;
  }
}
/* HERO RESPONSIVE END */

/* HEADER RESPONSIVE START - Aca esta el responsive del menu hamburguesa */

@media all and (max-width: 885px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .header-logo {
    display: none;
  }
  .header-ul {
    flex-direction: column;
    height: 8vh;
    margin-left: -70%;
  }
  nav label {
    display: block;
    margin-left: 1em;
    margin-top: 1em;
  }
  #btn-menu:checked ~ .header-ul {
    margin-left: 1%;
  }
}
@media all and (max-width: 500px) {
  header nav ul li {
    padding: 0.5em;
    margin-top: 0.1em;
  }
}

/* HEADER RESPONSIVE END */

@media all and (max-width: 1000px) {
  .project-aside {
    font-size: 0.8em;
  }
}

/* SECTIONS RESPONSIVE START - Aca esta el responsive para toda la pagina */

@media all and (min-width: 992px) {
  .about {
    .about-image-federico,
    .about-image-rocio {
      height: 30vh;
      margin-bottom: 1em;
    }
    .our-team {
      padding: 1em;
      font-size: 2.5em;
    }
    p {
      font-size: 1em;
    }
  }
  .working-method {
    .working-title {
      padding: 3%;
      font-size: 2.5em;
    }
    .working-image {
      width: 50%;
      height: 20vh;
      margin-bottom: 1em;
    }
    p {
      font-size: 1em;
    }
    .happy {
      .happy-title {
        margin-bottom: 1.3em;
      }
    }
  }
  .projects {
    .upper-title {
      font-size: 2.5em;
    }
    p {
      font-size: 1em;
      margin-bottom: 1em;
      height: 18vh;
    }
    .project-name {
      font-size: 2em;
      margin-bottom: 1em;
    }
    .project-image-div {
      margin-bottom: 2.2em;
    }
  }
  .contact {
    .email-us {
      padding: 2% 0 0 0;
      font-size: 2.5em;
    }
    .contact-box {
      margin-top: 4.2%;
    }
    label,
    input {
      margin-bottom: 2.8%;
      font-size: 1.1em;
    }
    .message {
      height: 15vh;
      margin-bottom: 3%;
    }
    .submit {
      width: 120px;
    }
  }
  .carousel-bakery {
    .container-bakery {
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 52%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      justify-content: flex-end;
      height: 91vh;
      h1 {
        font-size: 3em;
      }
      p {
        font-size: 1.3em;
      }
    }
  }
  .carousel-photo {
    .container-photo {
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 52%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      justify-content: flex-end;
      height: 91vh;
      h1 {
        font-size: 3em;
      }
      p {
        font-size: 1.3em;
      }
    }
  }
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .about {
    .about-image-federico,
    .about-image-rocio {
      height: 25vh;
      margin-bottom: 1em;
    }
    .our-team {
      padding: 1em;
      font-size: 2.3em;
    }
    .about-name {
      font-size: 1.5em;
    }
    p {
      font-size: 1em;
    }
  }
  .working-method {
    .working-title {
      padding: 1em;
      font-size: 2.3em;
    }
    .working-image {
      width: 70%;
      height: 20vh;
      margin-bottom: 1em;
    }
    p {
      font-size: 1em;
    }
    .happy {
      .happy-title {
        margin-bottom: 1.5em;
        font-size: 1.5em;
      }
    }
  }
  .projects {
    .upper-title {
      font-size: 2.3em;
    }
    p {
      font-size: 1em;
      margin-bottom: 1em;
      height: 25vh;
    }
    .project-name {
      font-size: 1.5em;
      margin-bottom: 1em;
    }
    .project-grid-format {
      height: 55vh;
    }
    .project-image-div {
      margin-bottom: 1em;
    }
  }
  .contact {
    .email-us {
      padding: 2%;
      font-size: 2.5em;
    }
    .contact-box {
      margin-top: 4.2%;
    }
    label,
    input {
      margin-bottom: 3%;
      font-size: 1em;
    }
    .message {
      height: 15vh;
      margin-bottom: 3%;
    }
    .submit {
      width: 120px;
    }
  }
  .carousel-bakery {
    .container-bakery {
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 52%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      justify-content: flex-end;
      height: 91vh;
      h1 {
        font-size: 3em;
      }
      p {
        font-size: 1.3em;
      }
    }
  }
  .carousel-photo {
    .container-photo {
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 52%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      justify-content: flex-end;
      height: 91vh;
      h1 {
        font-size: 3em;
      }
      p {
        font-size: 1.3em;
      }
    }
  }
}
@media all and (min-width: 576px) and (max-width: 768px) {
  .about {
    .about-image-federico,
    .about-image-rocio {
      height: 20vh;
      margin-bottom: 1em;
    }
    .our-team {
      padding: 1em;
      font-size: 2em;
    }
    .about-name {
      font-size: 1.3em;
    }
    .about-rocio,
    .about-federico {
      height: 45vh;
    }
  }
  .working-method {
    .working-title {
      padding: 1em;
      font-size: 2em;
    }
    .working-method-federo {
      justify-content: center;
    }
    h3 {
      font-size: 1.3em;
    }
    .working-method-fede {
      margin-bottom: 1em;
    }
    .working-image {
      width: 35%;
      height: 20vh;
      margin-bottom: 2em;
    }
    p {
      font-size: 1em;
    }
  }
  .projects {
    .upper-title {
      font-size: 2em;
    }
    p {
      font-size: 1em;
      margin-bottom: 1em;
    }
    .project-name {
      font-size: 1.3em;
      margin-bottom: 1em;
      text-transform: uppercase;
    }
    .projects-grid {
      flex-direction: column;
    }
    .project-grid-format {
      flex-direction: row;
      width: 100%;
      height: 30vh;
      align-items: center;
      justify-content: space-evenly;
    }
    .projects-column-text {
      margin-left: 1em;
      height: 20vh;
      width: 100%;
      margin-right: 4%;
    }
    .project-name {
      text-align: start;
    }
    .see-more {
      font-size: 1em;
    }
  }
  .contact {
    .contact-container {
      flex-direction: column;
    }
    .map-container {
      width: 100%;
      height: 30vh;
    }
    .contact-box-container {
      width: 100%;
      height: 50vh;
    }
    .email-us {
      padding: 2%;
      font-size: 2em;
    }
    h3 {
      font-size: 1.3em;
      margin-top: 0;
      text-align: start;
      width: 90%;
    }
    .contact-box {
      margin-top: 1%;
      width: 100%;
      align-items: center;
      margin-left: 5%;
    }
    label,
    input {
      margin-bottom: 2.5%;
      font-size: 1em;
      width: 100%;
    }
    .message {
      height: 12vh;
      margin-bottom: 3%;
      width: 100%;
    }
    .submit {
      width: 100%;
    }
  }
  .footer {
    .logos {
      width: 30px;
    }
  }
  .carousel-bakery {
    .container-bakery {
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 52%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      justify-content: flex-end;
      height: 91vh;
      h1 {
        font-size: 3em;
      }
      p {
        font-size: 1.3em;
      }
    }
  }
  .carousel-photo {
    .container-photo {
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 52%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      justify-content: flex-end;
      height: 91vh;
      h1 {
        font-size: 2em;
      }
      p {
        font-size: 1em;
      }
    }
  }
}
@media all and (max-width: 576px) {
  .about {
    .about-image-federico,
    .about-image-rocio {
      height: 20vh;
      margin-bottom: 0.5em;
    }
    .our-team {
      padding: 1.4em 0 0 0;
      font-size: 2em;
    }
    .about-name {
      font-size: 1.3em;
    }
    .about-rocio,
    .about-federico {
      height: 39vh;
    }
    .span-about {
      display: none;
    }
  }
  .working-method {
    .working-title {
      padding: 10% 0 0 0;
      font-size: 2em;
    }
    .working-method-federo {
      justify-content: center;
      margin-top: 1em;
    }
    h3 {
      font-size: 1.3em;
    }
    .working-image {
      width: 30%;
      height: 18vh;
      margin-bottom: 1em;
    }
    p {
      font-size: 1em;
    }
    .happy {
      display: none;
    }
  }
  .projects {
    .upper-title {
      font-size: 2em;
      padding: 1em 0 0 0;
    }
    .projects-column-text {
      width: 100%;
    }
    p {
      font-size: 1em;
      margin-bottom: 0.8em;
    }
    .span-projects {
      display: none;
    }
    .see {
      display: block;
    }
    .project-name {
      font-size: 1.3em;
      margin-bottom: 0.8em;
      text-transform: uppercase;
    }
    .projects-grid {
      flex-direction: column;
    }
    .project-grid-format {
      flex-direction: row;
      width: 100%;
      height: 30vh;
      align-items: center;
      justify-content: space-between;
    }
    .project-image-div {
      margin-right: 2%;
    }
    .project-name {
      text-align: start;
      font-size: 1.4em;
    }
    .see-more {
      font-size: 0.9em;
    }
  }
  .contact {
    .email-us {
      padding: 5% 0 0 0;
      font-size: 2em;
      margin-bottom: 3%;
    }
    .contact-container {
      flex-direction: column;
    }
    .map-container {
      width: 100%;
      height: 25vh;
    }
    h3 {
      font-size: 1.2em;
      margin-top: 0;
      text-align: start;
      width: 90%;
    }
    .contact-box-container {
      width: 100%;
      height: 55vh;
    }
    .contact-box {
      margin-top: 4.2%;
      width: 100%;
      align-items: center;
      margin-left: 5%;
    }
    label,
    input {
      margin-bottom: 1.9%;
      font-size: 1em;
      width: 100%;
    }
    .message {
      height: 12vh;
      margin-bottom: 5%;
      width: 100%;
    }
    .submit {
      width: 100%;
    }
  }
  .footer {
    .logos {
      width: 26px;
    }
  }
  .carousel-bakery {
    .container-bakery {
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 52%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      justify-content: flex-end;
      height: 91vh;
      h1 {
        font-size: 1.8em;
      }
      p {
        font-size: 1em;
      }
    }
  }
  .carousel-photo {
    .container-photo {
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 52%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      justify-content: flex-end;
      height: 91vh;
      h1 {
        font-size: 1.8em;
      }
      p {
        font-size: 1em;
      }
    }
  }
}

/* SECTIONS RESPONSIVE END */

/* PROJECT-FULL RESPONSIVE START FOR IPAD - En esta parte le di el responsive al texto que aparece dentro del IPAD de las fotos del carousel en la seccion TECH */

@media all and (min-width: 1560px) {
  .carousel-inner-tech {
    .container {
      width: 25%;
      left: 39%;
      top: 10%;
    }
    h1 {
      font-size: 3em;
      margin-bottom: 0.8em;
    }
    p {
      font-size: 1em;
    }
  }
}
@media all and (min-width: 1460px) and (max-width: 1560px) {
  .carousel-inner-tech {
    .container {
      width: 25%;
      left: 39%;
      top: 13%;
    }
    h1 {
      font-size: 3em;
      margin-bottom: 0.8em;
    }
    p {
      font-size: 1em;
    }
  }
}
@media all and (min-width: 1300px) and (max-width: 1460px) {
  .carousel-inner-tech {
    .container {
      width: 25%;
      left: 39%;
      top: 17%;
    }
    h1 {
      font-size: 3em;
      margin-bottom: 0.8em;
    }
    p {
      font-size: 1em;
    }
  }
}
@media all and (min-width: 1100px) and (max-width: 1300px) {
  .carousel-inner-tech {
    .container {
      width: 25%;
      left: 39%;
      top: 21%;
    }
    h1 {
      font-size: 2.5em;
      margin-bottom: 0.8em;
    }
    p {
      font-size: 1em;
    }
  }
}
@media all and (min-width: 900px) and (max-width: 1100px) {
  .carousel-inner-tech {
    .container {
      width: 25%;
      left: 39%;
      top: 27%;
    }
    h1 {
      font-size: 2em;
      margin-bottom: 0.8em;
    }
    p {
      font-size: 0.9em;
    }
    .span-tech2 {
      display: none;
    }
  }
}
@media all and (min-width: 801px) and (max-width: 899px) {
  .carousel-inner-tech {
    .container {
      width: 220px;
      left: 39vw;
      top: 27%;
    }
    h1 {
      font-size: 2em;
      margin-bottom: 0.8em;
    }
    p {
      font-size: 0.9em;
    }
    .span-tech2 {
      display: none;
    }
  }
}
@media all and (min-width: 701px) and (max-width: 800px) {
  .carousel-inner-tech {
    .container {
      width: 220px;
      left: 37vw;
      top: 27%;
    }
    h1 {
      font-size: 2em;
      margin-bottom: 0.8em;
    }
    p {
      font-size: 0.9em;
    }
    .span-tech2 {
      display: none;
    }
  }
}
@media all and (min-width: 651px) and (max-width: 700px) {
  .carousel-inner-tech {
    .container {
      width: 220px;
      left: 36vw;
      top: 27%;
    }
    h1 {
      font-size: 2em;
      margin-bottom: 0.8em;
    }
    p {
      font-size: 0.9em;
    }
    .span-tech2 {
      display: none;
    }
  }
}
@media all and (min-width: 601px) and (max-width: 650px) {
  .carousel-inner-tech {
    .container {
      width: 220px;
      left: 34vw;
      top: 27%;
    }
    h1 {
      font-size: 2em;
      margin-bottom: 0.8em;
    }
    p {
      font-size: 0.9em;
    }
    .span-tech2 {
      display: none;
    }
  }
}
@media all and (min-width: 551px) and (max-width: 600px) {
  .carousel-inner-tech {
    .container {
      width: 220px;
      left: 34vw;
      top: 27%;
    }
    h1 {
      font-size: 2em;
      margin-bottom: 0.8em;
    }
    p {
      font-size: 0.9em;
    }
    .span-tech2 {
      display: none;
    }
  }
}
@media all and (min-width: 500px) and (max-width: 550px) {
  .carousel-inner-tech {
    .container {
      width: 220px;
      left: 31vw;
      top: 27%;
    }
    h1 {
      font-size: 2em;
      margin-bottom: 0.8em;
    }
    p {
      font-size: 0.9em;
    }
    .span-tech2 {
      display: none;
    }
  }
}
@media all and (min-width: 400px) and (max-width: 500px) {
  .carousel-inner-tech {
    .container {
      width: 220px;
      left: 27vw;
      top: 27%;
    }
    h1 {
      font-size: 2em;
      margin-bottom: 0.8em;
    }
    p {
      font-size: 0.9em;
    }
    .span-tech2 {
      display: none;
    }
  }
}
@media all and (min-width: 350px) and (max-width: 399px) {
  .carousel-inner-tech {
    .container {
      width: 200px;
      left: 27vw;
      top: 27%;
    }
    h1 {
      font-size: 2em;
      margin-bottom: 0.8em;
    }
    p {
      font-size: 0.9em;
    }
    .span-tech2,
    .span-tech1 {
      display: none;
    }
  }
}

/* PROJECT-FULL RESPONSIVE END FOR IPAD */
